/* settings */

:root {
  --main-green: rgb(0, 99, 65);
  --back: #eeeeee;
  --main-yellow: rgb(255, 184, 28);
  --bg: #ffffff;
}

.hide {
  display: none;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}
ul {
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

html {
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--back);
}

.head {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: var(--bg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 3;
}

.search {
  position: relative;
  overflow: hidden;
}

.search-inp {
  border: none;
  border-radius: 50px;
  background-color: var(--back);
  outline: none;
  width: 100%;
  height: 50px;
  padding-inline-start: 20px;
  padding-inline-end: 60px;
}

.search-inp::-webkit-input-placeholder {
  font-size: 18px;
}

.search-btn {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  top: 12px;
  right: 23px;
}

.search-btn:focus {
  outline: none;
}

.wiki {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: #006341;
}

.icon:hover {
  fill: var(--main-yellow);
}

.name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.exit {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: 120px;
}

.section {
  z-index: 2;
}

.menu {
  position: static;
  background-color: var(--bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu ul li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 60px;
  padding-right: 10px;
}

.menu ul li:hover {
  background-color: #c4c4c4;
}

.icon-menu {
  margin: 0 15px;
}

.list a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.list {
  border-bottom: #eeeeee solid 2px;
}

.nav-link {
  padding: 0.2rem 0.2rem;
}

/* Category */
.filter {
  background-color: var(--bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.filter ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.filter ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 60px;
  width: 100%;
}

.filter ul li:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}

.catalog {
  margin-top: 20px;
}

.catalog ul li {
  list-style: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: var(--bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item-img a img {
  padding-right: 30px;
  width: 90px;
}

.item-info {
  padding-right: 20px;
}

.item-buttons {
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

.item-button-details {
  padding-right: 30px;
}

.item-button-details a {
  text-decoration: none;
  color: var(--main-yellow);
  border: 2px solid var(--main-yellow);
  padding: 5px;
  border-radius: 50px;
}

.item-button-details a:hover {
  background-color: var(--main-yellow);
  color: #fff;
}

.item-button-succes a {
  text-decoration: none;
  color: var(--main-yellow);
  border: 2px solid var(--main-yellow);
  padding: 5px 10px;
  border-radius: 50px;
}

.item-button-succes a:hover {
  background-color: var(--main-yellow);
  color: #fff;
}

.block-body {
  display: flex;
  background-color: var(--bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.block-body-img a img {
  width: 300px;
  padding-right: 30px;
}

.block-body-group {
  display: flex;
  flex-direction: column;
}

.block-body-buttons {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-body-button-succes {
  font-size: 24px;
}

.block-body-button-succes a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid var(--main-yellow);
  color: var(--main-yellow);
  border-radius: 50px;
}

.block-body-button-succes a:hover {
  background-color: var(--main-yellow);
  color: #fff;
}

.left-panel {
  position: fixed;
  background-color: var(--bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left-panel ul li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 60px;
  padding: 20px;
  border-bottom: #eeeeee solid 2px;
  cursor: pointer;
}

.left-panel ul li:hover {
  background-color: #c4c4c4;
}

.footer {
  display: none;
}




@media (max-width: 768px) {
  .stripe {
    margin-top: 20px;
  }

  .logo {
    text-align: center;
}

.logo img {
    max-width: 30%;
}

.wiki-v {
    display: none;
}

.cart-v {
    display: none;
}

.name-v {
    display: none;
}

.exit-v {
    display: none;
}

.menu {
  display: none;
}

.footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
}

main {
    padding-bottom: 70px;
}

  



}



@media (max-width: 576px) {

    

}